#upgrades{
  display: none;
}
#machines {
  display: inline;
}
#stats {
  display: none;
}
/*
  this only applies to elements that have BOTH "buttons" and "active-button" as classes
  I think this overrides the style in just .buttons
*/
.buttons.active-button{
  background-color: #aaa;
}
/* this is really not needed as of now, can just directly access the <button> tag itself*/
.buttons {
  padding: 3px 6px;
  margin: 1px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: 1px solid #A0A0A0;
  background-color: #e5e5e5;
}

.upgrd {
  padding: 10px;
  width: 30px;
  border: none;
  background-color: transparent;
  outline: none;
}